body {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    margin:0;
    padding:0;
}

#subconsole {
    height: 93vh;
    width: 88vw;

    display: flex;
    justify-content: baseline;
    align-items: flex-start;

    z-index: 0;
    position: absolute;
    flex-direction: row;
    /* background-color: darkred; */
}

#ltrigger {
    height: 11vh;
    width: 11vw;

    border-radius: 1000% 0% 0% 0%;
    background-color: black;
}

#midsc {
    height: 90vh;
    width: 66vw;
}

#rtrigger {
    height: 11vh;
    width: 11vw;

    border-radius: 0% 100% 0% 0%;
    background-color: black;
}

#console {
    height: 90vh;
    width: 90vw;

    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;

    z-index: 1;
    flex-direction: row;
    /* background-color: blue; */
}

#cleft {
    height: 90vh;
    width: 15vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    /* background-color: turquoise; */
}

#cl1 {
    height: 29vh;
    width: 15vw;

    display: flex;
    justify-content:baseline;
    align-items: flex-start;

    border-radius: 65% 0% 0% 0%;
    flex-direction: column;
    background-color: turquoise;
}

#space3 {
    height: 3vh;
    width: 15vw;
}

#space1 {
    height: 1vh;
    width: 15vw;
}

#spaceminus {
    height: 1vh;
    width: 15vw;

    display: flex;
    justify-content:baseline;
    align-items: flex-start;
    
    flex-direction: row;
}

#sm1 {
    height: 1vh;
    width: 12vw;
}

#minus {
    height: 1vh;
    width: 2vw;

    background-color: black;
}

#sm2 {
    height: 1vh;
    width: 1vw;
}

#slanalogic {
    height: 24vh;
    width: 15vw;

    display: flex;
    justify-content:center;
    align-items: center;

    flex-direction: row;
}


.analogic {
    height: 14vh;
    width: 7vw;

    border-radius: 50%;
    background-color: black;
}

#cl2 {
    height: 8vh;
    width: 15vw;

    background-color: turquoise;
}

#cl3 {
    height: 24vh;
    width: 15vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    background-color: turquoise;
}

.bscross {
    height: 8vh;
    width: 15vw;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

.button {
    height: 6vh;
    width: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: black;

    color: white;
}

.scupdown {
    height: 8vh;
    width: 6vw;
}

.scm2 {
    height: 8vh;
    width: 2vw;
}

#scm5 {
    height: 8vh;
    width: 5vw;
}

#cl4 {
    height: 4vh;
    width: 15vw;

    background-color: turquoise;
}

#cl5 {
    height: 25vh;
    width: 15vw;

    display: flex;
    justify-content:baseline;
    align-items: flex-start;

    border-radius: 0% 0% 0% 65%;
    flex-direction: row;
    background-color: turquoise;
}

#cl5space {
    height: 25vh;
    width: 9vw;
}

#buttonsquare {
    height: 5vh;
    width: 2.5vw;

    background-color: black;
}

#cmiddle {
    height: 90vh;
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    /* background-color: black;  */
}

#upscreen {
    height: 3vh;
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: row;
    background-color: grey;
}

#lefthole {
     height: 3vh;
     width: 1.5vw;

     border-radius: 0% 0% 100% 0%;
     background-color: white;
}

#usmidbar {
    height: 3vh;
    width: 57vw;
    
    border-radius: 50%;
}

#righthole {
    height: 3vh;
    width: 1.5vw;

    border-radius: 0% 0% 0% 100%;
    background-color: white;
}

#midscreen {
    height: 84vh;
    width: 60vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: row;
    background-color: grey;
}

#innerscreen {
    height: 84vh;
    width: 57vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5% 5% 5% 5%;
    background-color: darkgrey;
}

#innerestscreen {
    height: 70vh;
    width: 50vw;

    background-color: black;
}

#downscreen {
    height: 3vh;
    width: 60vw;

    background-color: grey;
}

#cright {
    height: 90vh;
    width: 15vw;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    background-color: rgb(221, 88, 40);
}